<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的Galgame日志发布站 - Sylvie233</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="/css/content_right.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<!-- 头部导航区 -->
<div class="header">
    <div class="banner">
        <a href="/index">Sylvie233</a>
    </div>
    <div class="nav">
        <ul class="clearfix">
            <li class="item-active"><a href="/index">首页</a></li>
            <li class="item-disabled"><a href="#">主题切换</a></li>
            <li class="item-disabled"><a href="#">汉化硬盘版</a></li>
            <li class="item-disabled"><a href="#">新人必读</a></li>
            <li class="item-disabled"><a href="#">解压必读</a></li>
            <li class="item-disabled"><a href="#">收藏夹</a></li>
            <li class="item-disabled"><a href="#">问答专区</a></li>
            <li class="item-disabled"><a href="#">留言板</a></li>
        </ul>
    </div>
</div>

<!--  内容区域  -->
<div class="content clearfix">
    <!-- 左部面板 -->
    <div class="content-l clearfix">
        <div class="main-content clearfix">
            <!-- 文章列表（最终有jquery生成） -->
            <div class="article">
                <!-- 文章头部导航 -->
                <div class="nav clearfix">
                    <span class="classes">汉化硬盘版</span>
                    <span class="div"> > </span>
                    <span class="mini-header">星光咖啡馆与死神之蝶</span>
                </div>
                <!-- 文章标题 -->
                <h1>
                    <a href="#">星光咖啡馆与死神之蝶</a>
                </h1>
                <!-- 文章tags列表 -->
                <div class="tags">
                    <div class="tag-item">2021-8-24</div>
                </div>
                <!-- 文章图标列表 -->
                <div class="images">
                    <div class="head">游戏CG</div>
                    <div class="imgs-list">
                        <div class="img-item">
                            <div class="img" style="background-image: url('/img/articles/article_1_1.jpg')">
                            </div>
                        </div>
                        <div class="img-item">
                            <div class="img" style="background-image: url('/img/articles/article_1_1.jpg')">
                            </div>
                        </div>
                        <div class="img-item">
                            <div class="img" style="background-image: url('/img/articles/article_1_1.jpg')">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 文章主题内容 -->
                <div class="intro">
                    <div class="head">游戏随笔</div>
                    <div class="body">
                        主人公高嶺昂晴过着风平浪静的学生生活。<br>
                        主人公高嶺昂晴过着风平浪静的学生生活。<br>
                        &nbsp;<br>
                        主人公高嶺昂晴过着风平浪静的学生生活。<br>
                        主人公高嶺昂晴过着风平浪静的学生生活。<br>
                        主人公高嶺昂晴过着风平浪静的学生生活。<br>
                        主人公高嶺昂晴过着风平浪静的学生生活。<br>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 右部面板 -->
    <div class="content-r clearfix">
        <!-- 音乐播放器 -->
        <div class="music-player clearfix">
            <!-- 播放器头部 -->
            <div class="music-player-header">
                <span class="header-intro">音乐播放器</span>
                <span class="header-close"></span>
                <span class="header-arrow header-arrow-up"></span>
            </div>
            <!-- 播放器面板 -->
            <div id="music-box" class="music-box">
                <div class="music-bar"></div>
                <div class="music-panel"></div>
                <audio id="music" src="/sounds/sama.mp3" loop></audio>

            </div>
            <!-- 播放器底部按钮 -->
            <div id="music-buttons" class="music-buttons clearfix">
                <div class="sound-button clearfix">
                    <div class="btn-sub music-sub"></div>
                    <div class="music-num">30</div>
                    <div class="btn-add music-add"></div>

                </div>
                <div class="play-button music-pause"></div>
            </div>
        </div>
    </div>
</div>
<!-- 底部区域 -->
<div class="footer">
    © 2021-2022 Sylvie233. Powered by 腾讯云. Theme By Sylvie233 | 服务器状态 | Donate | 站点地图
</div>

</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/pages.js"></script>
<script src="/js/content_right.js"></script>
</html>